  /* NAVBAR */
    .navbar-portfolio {
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
      background: white;
      transition: all 0.6s ease;
      height: 70px;
      padding: 0px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  .navbar-fixed {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
  }

  /* Portfolio brand name */

  .brandname {
    font-family: 'Abel', sans-serif;
  }

  /* Navbar right section */
  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
  }

  .navbar-item {
    cursor: pointer;
    padding: 0 20px;
  }

  .btn-navbar-contact {
    font-family: 'Open Sans', sans-serif;
    color: #201E1B;
    border: 1px solid #201E1B;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
  }

  .btn-navbar-contact:hover {
    text-decoration: none;
    color: #902F40;
    border-color: #902F40;
  }

  .navbar-link {
    color: #201E1B;
    font-size: 14px;
    text-decoration: none;
  }

  .navbar-link:hover {
    color: #902F40;
    text-decoration: none;
  }

  /* Dropdown menu on XS/SM */

  .navbar-porfolio-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
  }

  .navbar-portfolio-dropdown-menu li > a {
    transition: color 0.3s ease;
    font-weight: 300 !important;
    color: #201E1B !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 10px 20px;
  }
  .navbar-portfolio-dropdown-menu li > a:hover {
    font-weight: 400 !important;
    background: transparent !important;
    color: #902F40 !important;
  }
  .navbar-portfolio-dropdown-menu:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }

/* BANNER */

  .banner {
    color: #F6F5F5;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* if you have a 70px navbar => height: calc(100vh - 70px); */
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  .banner p {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .banner-description {
    font-size: 25px !important;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-bottom: 50px !important;
  }

  .btn-banner {
    color: #F6F5F5;
    border: 1px solid #F6F5F5;
    border-radius: 50px;
    text-decoration: none;
    padding: 20px 30px;
    cursor: pointer;
  }

  .btn-banner:hover{
    color: #902F40;
    text-decoration: none;
    background-color: #F6F5F5;
  }

/* BIO */

  .title-bio {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
  }

  .container-bio {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .avatar {
    border-radius: 150px;
    height: 300px;
    width: 300px;
    margin: 0px 25px;
  }

  .p-bio {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px 25px;
  }

/* MOUSE SCROLLING */

  .mouse {
      border: 1px solid #F6F5F5;
      border-radius: 13px;
      bottom: 40px;
      display: block;
      height: 46px;
      left:51%;
      margin: 0 auto 0 -26px;
      position: absolute;
      width: 26px;
  }
  .mouse span {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: scroll;
      background: none repeat scroll 0 0 #F6F5F5;
      border: 1px solid transparent;
      border-radius: 4px;
      display: block;
      height: 4px;
      margin: 6px auto;
      width: 4px;
  }
  @keyframes scroll {
  0% {
      opacity: 1;
      transform: translateY(0px);
  }
  100% {
      opacity: 0;
      transform: translateY(20px);
  }
  }

/* EXPERIENCE */

   .title-experience {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
  }

  .card_container {
    margin-top: 200px;
    width: 1500px;
    display: flex !important;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .back {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 25px 15px;
    }

  .back h2 {
    padding-bottom: 15px;
  }

  .back a {
    text-decoration: none;
    color: #CDCDCD;
  }

  .back a:hover {
    color: #902F40;
  }

  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container, .front, .back {
    width: 500px;
    height: 300px;

  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  /* hide back of pane during swap */
  .front {
    border-radius: 2.5%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 5px 25px 0px rgba(51,51,51,0.28);
  }

  .back {
    border-radius: 2.5%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 25px 0px rgba(51,51,51,0.28);
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
  }

/* SKILLS */

  .title-skills {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
  }
/* EDUCATION */

    .title-education {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
  }

/* CONTACT */
/* FOOTER */

.container-footer {
  position: relative;
  height: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CDCDCD;
  z-index: 100;
}

.footer-copyright {
 text-align: center;
 font-size: 14px;
 margin-bottom: 5px;
 font-family: 'Abel', sans-serif;
}

.social-logo{
  margin-top: 15px;
}

.social-logo-footer {
  text-align: center;
  margin-right: 15px;
  padding-top: 20px;
  padding-right: 20px;
  list-style: none;
  font-size: 30px;
}

.social-logo-footer li {
  display: inline;
  padding: 0px 15px;
  margin-top: 15px;
}

.fa:hover {
  color: #902F40;
  transition: 0.2s ease-in-out;
}

/* SHARED STYLE */





